### Hwang
Hwang/mags_prototype/.vscode/
Hwang/mags_prototype/node_modules/
Hwang/mags_prototype/Similar_bart_prototype_model

### Kim


### Lim
Lim/venv_CapstoneDesign/
Lim/img.png
Lim/__pycache__/
Lim/hanspell/
Lim/data/sentence_tokenize/
